extends ../../layout/_fullwidth.jade

block pageTitle
  title ISCP | Customer
block pageStyle
  link(rel="stylesheet" href="/assets/plugins/bootstrap-toggle/bootstrap-toggle.min.css")
  link(rel='stylesheet', href="../../assets/plugins/datepicker/datepicker.min.css")
  link(rel='stylesheet', href="../../assets/plugins/datepicker/datepicker3.min.css")
block pageContent
 .container-fluid
   h1
      span#spn-title Customer Details
      if action === 'view'
      
       span.pull-right  
       a#btn-viewuser.btn.btn-color_3.pull-right(href='/user/manage/#{data.id}') 
        | User Details
        |    
        i.fa.fa-angle-double-right(aria-hidden='true') 
       span.pull-right  
       button#btn-updatecustomer.btn.btn-color_4.pull-right(type='button')
        i.fa.fa-pencil(aria-hidden='true') 
        |   Update Customer
       span.pull-right  
       a.btn.btn-color_3.pull-right(href='/customer/manage') 
        i.fa.fa-arrow-left(aria-hidden='true') 
        |  Back
       
      
  .row
   .col-md-9.col-xs-12
     br
     p.lead.col-md-offset-5.text-danger #{error} 
     .row
       form#form-updatecustomer.form-horizontal(action='/customer/update', method= 'post')
        .form-group
         .col-md-6.col-md-offset-3
           #messages
        .col-sm-6.col-sm-offset-3
           h5 Personal Details
        .form-group.col-md-12
          label.col-sm-3.control-label(for='firstname') First Name
          .col-sm-6
            input#hdn-action(type='hidden', value='#{action}', name='action')
            input#hdn-customerid(type='hidden',name='customerid', value='#{data.id}')
            input#txt-firstname.form-control(type='text', name='firstname', value='#{data.firstname}', disabled,maxlength='20')
        .form-group.col-md-12
          label.col-sm-3.control-label(for='lastname') Last Name
          .col-sm-6
            input#txt-lastname.form-control(type='text', name='lastname', value='#{data.lastname}', disabled,maxlength='20')
        .form-group.col-md-12
          label.col-sm-3.control-label(for='organization') Organisation
          .col-sm-6
            input#txt-organization.form-control(type='text', name='organization', value='#{data.companyname}', disabled,maxlength='20')
        .col-sm-6.col-sm-offset-3
          h5 Contact Details
        .form-group.col-md-12
          label.col-sm-3.control-label(for='contactnumber') Contact Number
          .col-sm-6
            input#txt-contactnumber.form-control(type='text', name='contactnumber', value='#{data.contactno}', disabled,maxlength='20')
        .form-group.col-md-12
          label.col-sm-3.control-label(for='email') Email Address
          .col-sm-6
            input#txt-emailaddress.form-control(type='text', name='email', value='#{data.emailid}', disabled,maxlength='50')
        .col-sm-6.col-sm-offset-3
          h5 License Details
        .form-group.col-md-12
          label.col-sm-3.control-label(for='licensestartdate') Subscription Start Date
          .col-md-6.date
            #dplicensestartdate.input-group.input-append.date
              input#txt-licensestartdate(type="text", class="form-control",placeholder='dd/mm/yyyy', value='#{data.subscription_startdate}', name="licensestartdate", readonly)
              span.input-group-addon.add-on
               span.glyphicon.glyphicon-calendar
        .form-group.col-md-12
          label.col-sm-3.control-label(for='licenseenddate') Subscription End Date
          .col-md-6.date
            #dplicenseenddate.input-group.input-append.date
              input#txt-licenseenddate(type="text", class="form-control",placeholder='dd/mm/yyyy', value='#{data.subscription_enddate}', name="licenseenddate", readonly)
              span.input-group-addon.add-on
               span.glyphicon.glyphicon-calendar
        .col-sm-6.col-sm-offset-3
          h5 Domain
        .form-group.col-md-12
          label.col-sm-3.control-label(for='prefix') Prefix
          .col-sm-6
            input#txt-domainname.form-control(type='text', name='prefix', value='#{data.domainname}', disabled,maxlength='20' )  
        .col-sm-6.col-sm-offset-3
          h5 API Details
        .form-group.col-md-12
          label.col-sm-3.control-label(for='licenseenddate') API Access
          .col-sm-6
            input#hdn-apistatus(type='hidden', value='#{data.api_token_status[0]}', name='apitokenstatus')
            input#toggle-apistatus(type='checkbox', checked='', data-toggle='toggle', data-on='Enabled', data-off='Disabled', data-onstyle='success', data-offstyle='danger', name='apistatus')
        #div-btnupdate.col-md-6.col-md-offset-3.text-center.hide
         hr
         if action === 'view' || action === 'viewupdate'
           a.btn.btn-default(href='/customer/view/#{data.id}')
             i.fa.fa-times
             |  Cancel
           | 
          else
           a.btn.btn-default(href='/customer/manage')
             i.fa.fa-times
             |  Cancel
           | 
         button.btn.btn-color_1(type='submit')
          i.fa.fa-check
          |  Update
         hr
block pageScript
  script(src="../../assets/plugins/datepicker/bootstrap-datepicker.min.js" type="text/javascript")
  script(src="/assets/plugins/bootstrap-toggle/bootstrap-toggle.min.js" type="text/javascript")
  script(src="../../caasjslib/caasjslib.customer.view.js" type="text/javascript")
  script(src="../../caasjslib/caasjslib.customer.eventhandler.js" type="text/javascript")
  script.
    $(function () {
     var view = caasjslib.customer.view;
     view.ViewCustomerInit();
    });