extends ../layout/_fullwidth.jade

include ../mixins/_panelCTA.jade
include ./mixins/_platforms.jade
include ./mixins/_environmentvariable.jade
block pageTitle
  title Create Database | Internet Solutions Styleguide

block pageContent
  h1#overview.page-header
          span#spn-title View Database
            span.pull-right  
            button#btneditdbapp.btn.btn-color_4.pull-right(type='button') 
             i.fa.fa-pencil(aria-hidden='true') 
             |   Update Database
            span.pull-right  
            a.btn.btn-color_3.pull-right(href='/application/manage/all') 
              i.fa.fa-arrow-left(aria-hidden='true') 
              |    Back
           
  .row
  .col-sm-12(role='main')                   
            form.form-horizontal(action='/application/updateapplication/#{appdata.application_id}/db',method='POST',id='frmupdatedatabase')
                .form-body
                  .form-group
                    label.col-md-3.control-label Database Title
                    .col-md-6
                      input#txtdatabasename.form-control(type='text',name='txtdatabasename',disabled,value='#{appdata.application_display_name}')
                  .form-group
                    label.col-md-3.control-label Database Name
                    .col-md-6
                      input#txtdatabaseid.form-control(type='text',name='txtdatabaseid',disabled,value='#{appdata.application_name}')
                  .form-group
                    label.col-md-3.control-label Description
                    .col-md-6
                      textarea#txtdesc.form-control(name='txtdesc',disabled,rows=4) #{appdata.description}
                  .form-group
                    label.col-md-3.control-label(for='txtdatabaseusername') Database User Name
                    .col-md-6
                     input#txtdatabaseusername.form-control(type='text', name='txtdatabaseusername',value='#{appdata.appusername}',disabled)
                  .form-group
                    label.col-md-3.control-label Platform
                    .col-md-6
                       select#ddlplatform.form-control(name='ddlplatform',disabled) 
                         +platforms(dbplatforms)   
                    label.col-md-2.label-value.dbversion.hide
                      strong Version: 
                      span.dbversionvalue     
                  .form-group
                    label.col-md-3.control-label Build Status
                    .col-md-6
                      input#txtdatabaseid.form-control(type='text',name='txtbuildstatus',disabled,value='#{appdata.build_status}')                                                      
                .form-group
                    label.col-md-3.control-label GitHub User Name
                    .col-md-6
                      input.form-control(type='text',name='txtgitusername',disabled,value='#{appdata.repo_username}')
                .form-group
                  label.col-md-3.control-label GitHub Url
                  .col-md-6
                    input.form-control(type='text',name='txtgiturl',disabled,value='#{appdata.repo_url}')
                .form-group
                  label.col-md-3.control-label(for='txtselectedbranch') GitHub Branch
                  .col-md-6
                    input#txtdbbranch.form-control(type='text',name='txtselectedbranch',disabled,value='#{appdata.branchname}')               
                .form-group
                  label.col-md-3.control-label Launch Script
                  .col-md-6
                    input.form-control(type='text',name='txtlaunchscript',disabled,value='#{appdata.command}')   
                if(environmentvariables.length > 0) 
                   .form-group#environment-variables-fg                     
                       label.col-md-3.control-label Environment Variables
                       .col-md-6#environment-variables   
                         +environmentvariable(environmentvariables)  
                  #databaseaction.col-md-6.col-md-offset-3.text-center.hide
                 hr
                 a#btn-clear.btn.btn-default(href='/application/manage/application')
                   i.fa.fa-remove
                   |  Cancel
                 |     
                 button.btn.btn-color_1(type='button',id='btnupdatedatabase')
                   i.fa.fa-check
                   |  Update
                 hr   

block modals
 include _environmentvariablemodal.jade  
 include _messagemodal.jade                
block pageScript     
    script(src="/caasjslib/caasjslib.application.common.js" type="text/javascript")  
    script(src="/caasjslib/caasjslib.application.view.js" type="text/javascript")  
    script(src="/caasjslib/caasjslib.application.eventhandler.js" type="text/javascript")
    script(type='text/javascript').
      $(function(){
            var appview=caasjslib.application.view;
             appview.ViewApplicationInit('dbview');             
      });
           